[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
mollie-api-python = {path = ".", editable = true}
pycodestyle = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyflakes = "*"
responses = "*"
mock = "*"
ipdb = "*"
isort = "*"
