[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
mollie-api-python = {path = ".", editable = true}

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyflakes = "*"
responses = "*"
mock = "*"
pycodestyle = "*"
isort = "*"
# locked due to: https://github.com/pypa/pipenv/issues/1586
futures = "==3.1.1"
