[tool.black]
line-length = 119
target-version = ['py37']

[tool.isort]
profile = "black"
line_length = 119
known_first_party = ["mollie", "app", "tests"]

[tool.pytest.ini_options]
mock_use_standalone_module = true
addopts = """
    --cov mollie/
    --no-cov-on-fail
    --cov-fail-under=80
    --cov-report=term-missing
    --cov-branch
"""
